body {
  background-image: linear-gradient(to right, rgb(102, 161, 181) , rgb(247, 177, 47));
}

#logo {
  height: 70px;
  width: 120px;
  padding-left: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

section img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#jonny img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
}

@-webkit-keyframes bounce {

	0% {
		-webkit-transform:translateY(0%);
	}
	5% {
		-webkit-transform:translateY(-10%);
  }
  10% {
		-webkit-transform:translateY(-10%);
  }
  12% {
		-webkit-transform:translateY(-10%);
	}
	15% {
		-webkit-transform:translateY(10%);
		padding: 4px auto;
	}
	 20% {
		-webkit-transform:translateY(-10%);
	}
	25% {
		-webkit-transform:translateY(10%);
		padding: 4px auto;
	}
	30% {
		-webkit-transform:translateY(-10%);
	}
	35% {
		-webkit-transform:translateY(10%);
		padding: 5px auto;
	}
	40% {
		-webkit-transform:translateY(-10%);
	}
	45% {
		-webkit-transform:translateY(5%);
		padding: 5px auto;
	}
	50% {
		-webkit-transform:translateY(-5%);
	}
	55% {
		-webkit-transform:translateY(3%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(0%);
	}
}

.bouncy {
  -webkit-animation: bounce 5s ease-in-out; 
  animation-iteration-count: infinite; 
}