/* * {
  outline: dashed 1px orange;
} */


section img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

p {
  margin-bottom: 50px;
}

/* section {
  display: inline-block;
} */

#jonny img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
}

ul {
  margin: 0 auto;
}

/* ul {
  margin-bottom: 50px;
  display: inline-block;
} */

#jonny li:nth-child(2) {
  border: solid 10px black;
  margin-top: -120px;
  margin-left: 200px;
  width: 700px;
}