body {
  background-image: linear-gradient(to right, lightblue , orange);
}

table {
  margin: 0 auto;
  width: 500px;
}

table img {
  width: 100px;
  height: 100px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }