/* body {
  width: 100%;
  margin: 0 auto;
} */

/* header, footer {
    width: 100%;
    margin: 0 auto;
} */

#topbar li {
  display: block;
  float: left;
}

#topbar li:nth-child(2) {
  margin-left: 55%;
}

#topbar :not(:first-child) {
  /* margin-top: 10px; */
  padding: 20px;
  font-size: 20px;
}

#topbar {
  top: 0px;
  height: 75px;
  width: 100%;
  background-color: lightgray;
  /* position: fixed; */
}

/* footer {  
  bottom: 0px;
  width: 100%;
  height: 60px;
  background:rgb(156, 156, 157);
} */

/* * {
  margin: 0;
} */
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}