/* body {
  width: 100%;
  margin: 0 auto;
}

header, footer {
    width: 100%;
    margin: 0 auto;
} */

#topbar li {
  display: block;
  float: left;
}

#topbar li:nth-child(2) {
  margin-left: 55%;
}

#topbar :not(:first-child) {
  /* margin-top: 10px; */
  padding: 20px;
  font-size: 20px;
}

#topbar {
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: rgba(135, 129, 129, 0.4);
  /* position: fixed; */
}

/* footer {  
  bottom: 0px;
  width: 100%;
  height: 60px;
  background:rgb(156, 156, 157);
} */

/* * {
  margin: 0;
} */

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px; 
}
.site-footer {
  background: lightgray;
}

.site-footer {
  margin-top: 30px;
}

.site-footer p {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}

.site-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  text-align: center;
  background-color: rgba(135, 129, 129, 0.4);
}