body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(102, 161, 181) , rgb(247, 177, 47));
}

body h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 50px;
  font-family: 'Baloo', cursive;
  font-size: 60px;
  margin-bottom: 15px;
}

#logo {
  height: 70px;
  width: 120px;
  padding-left: 10px;
  padding-top: 10px;
}

.form-style-1 {
	margin: 0 auto;
	max-width: 450px;
	padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label {
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 input[type=text], 
textarea, 
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}

.form-style-1 input[type=text]:focus, 
.form-style-1 textarea:focus, 
.form-style-1 select:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
	width: 49%;
}

.form-style-1 .field-long {
	width: 100%;
}

.form-style-1 .field-select {
	width: 100%;
}

.form-style-1 .field-textarea {
	height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
  color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.form-style-1 .required {
	color:red;
}

@-webkit-keyframes bounce {

	0% {
		-webkit-transform:translateY(0%);
	}
	5% {
		-webkit-transform:translateY(-10%);
  }
  10% {
		-webkit-transform:translateY(-10%);
  }
  12% {
		-webkit-transform:translateY(-10%);
	}
	15% {
		-webkit-transform:translateY(10%);
		padding: 4px auto;
	}
	 20% {
		-webkit-transform:translateY(-10%);
	}
	25% {
		-webkit-transform:translateY(10%);
		padding: 4px auto;
	}
	30% {
		-webkit-transform:translateY(-10%);
	}
	35% {
		-webkit-transform:translateY(10%);
		padding: 5px auto;
	}
	40% {
		-webkit-transform:translateY(-10%);
	}
	45% {
		-webkit-transform:translateY(5%);
		padding: 5px auto;
	}
	50% {
		-webkit-transform:translateY(-5%);
	}
	55% {
		-webkit-transform:translateY(3%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(0%);
	}
}

.bouncy {
  -webkit-animation: bounce 4.5s ease-in-out; 
  animation-iteration-count: infinite; 
}