body {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgb(102, 161, 181) , rgb(247, 177, 47));
}

#hero {
  height: 350px;
  width: 350px;
  -webkit-animation: bounce 3.2s ease-out;
  -webkit-animation: bounce 3.2s ease-in;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
  animation: bounce 3.2s ease-out;
  animation: bounce 3.2s ease-in;
}

#logo {
  height: 70px;
  width: 120px;
  padding-left: 10px;
  padding-top: 10px;
}

main h1 {
  margin-top: 20px;
  font-size: 80px;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Baloo', cursive;
}

main:not(h1) {
  text-align: center;
}

button {
  padding: 20px 20px;
  margin-top: 10px;
  width: 600px;
  margin-bottom: 0px;
  background-color: #2E2722;
  border-color: #2E2722;
  color: rgb(102, 161, 181);
  font-size: 20px;
  font-family: 'Baloo Chettan', cursive;
  cursor: pointer;
}

button:first-of-type {
  margin-top: 30px;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform:translateY(-200%);
	}
	5% {
		-webkit-transform:translateY(-200%);
  }
  10% {
		-webkit-transform:translateY(-150%);
  }
  12% {
		-webkit-transform:translateY(-140%);
	}
	15% {
		-webkit-transform:translateY(30%);
		padding: 4px auto;
	}
	 20% {
		-webkit-transform:translateY(-70%);
	}
	25% {
		-webkit-transform:translateY(20%);
		padding: 4px auto;
	}
	30% {
		-webkit-transform:translateY(-50%);
	}
	35% {
		-webkit-transform:translateY(15%);
		padding: 5px auto;
	}
	40% {
		-webkit-transform:translateY(-20%);
	}
	45% {
		-webkit-transform:translateY(10%);
		padding: 5px auto;
	}
	50% {
		-webkit-transform:translateY(-10%);
	}
	55% {
		-webkit-transform:translateY(5%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(-5%);
	}
	65% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
   70% {
		-webkit-transform:translateY(0%);
  }
}

button:hover {
  animation: shake 1s; 
  animation-iteration-count: infinite; 
  color: rgb(247, 177, 47);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}