/* * {
  outline: dashed 1px orange;
} */

body {
  width: 100%;
  margin: 0 auto;
}

main h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

main:not(h1) {
  text-align: center;
}

button {
  padding: 20px 60px;
  margin-top: 80px;
  width: 800px;
}